force-app/main/default/flows/Signup_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>Country_AU</name>
        <choiceText>Australia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AU</stringValue>
        </value>
    </choices>
    <choices>
        <name>Country_CA</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Country_US</name>
        <choiceText>United States</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Thank_you</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not create lead</defaultConnectorLabel>
        <rules>
            <name>Yes_create_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Tools0__Trial_Params__c.Tools0__Create_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creating_lead</targetReference>
            </connector>
            <label>Yes create lead</label>
        </rules>
    </decisions>
    <description>add country picklist</description>
    <dynamicChoiceSets>
        <name>editions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Edition</picklistField>
        <picklistObject>SignupRequest</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>trial_templates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Trial_Template__c</object>
        <valueField>Trial_Template_Id__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Signup Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Signup Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creating_lead</name>
        <label>Creating lead</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>name.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_SignupRequest</name>
        <label>Insert SignupRequest</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Edition</field>
            <value>
                <elementReference>trial_edition_pick</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShouldConnectToEnvHub</field>
            <value>
                <elementReference>$Setup.Tools0__Trial_Params__c.Tools0__Connect_to_EnvHub__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SignupEmail</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>username.value</elementReference>
            </value>
        </inputAssignments>
        <object>SignupRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Request_Trial_Org</name>
        <label>Request Trial Org</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_SignupRequest</targetReference>
        </connector>
        <fields>
            <name>name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>username</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Preferred Username (in form of email)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Country</name>
            <choiceReferences>Country_AU</choiceReferences>
            <choiceReferences>Country_CA</choiceReferences>
            <choiceReferences>Country_US</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>trial_template</name>
            <choiceReferences>trial_templates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Trial Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>trial_edition_pick</name>
            <choiceReferences>editions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Edition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Custom_Domain</name>
            <dataType>String</dataType>
            <fieldText>Custom Domain</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thanks</name>
            <fieldText>&lt;p&gt;thanks for submitting the request&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Request_Trial_Org</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
